<h1> Now your result </h1>

<!-- result = run_game(attempt, grid, start_time, end_time) -->

<p> Your word: <%= @attempt %> </p>
<p> Time Taken to answer: <%= @result[:time] %> </p>
<p> Translation: <%= @result[:translation] %> </p>
<p> Your score: <%= @result[:score] %> </p>
<p> Message: <%= @result[:message] %> </p>

<p> ***************************************************** </p>

<%= button_to 'Play again', game_path, class:'btn btn-primary' %>
